In [1]:
import bacteriopop_utils
import feature_selection_utils
import load_data

In [2]:
loaded_data = data = load_data.load_data()

In [3]:
loaded_data.shape

(64755, 11)

In [4]:
loaded_data.head()

,kingdom,phylum,class,order,family,genus,length,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,,
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,9948861,Low,1,4,0.228531
1056013,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,5066955,Low,1,4,0.220860
1056013,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,4654774,Low,1,4,0.054719
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,,3046340,Low,1,4,0.047956
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,,,,5620690,Low,1,4,0.040903

In [5]:
apl = bacteriopop_utils.aggregate_on_phylo_level(loaded_data, 'order')

In [6]:
'length' in loaded_data.columns

False

In [7]:
apl.head()

                                                                            abundance
oxygen replicate week kingdom phylum        class        order
High   1         4    Archaea                                                0.000028
                              Crenarchaeota Thermoprotei                     0.000026
                                                         Acidilobales        0.000007
                                                         Desulfurococcales   0.000005
                                                         Sulfolobales        0.000015

In [8]:
fba = bacteriopop_utils.filter_by_abundance(loaded_data, low = 0.01)
fba.head()

first (up to) 5 phylo columns to keep: ['Methylobacter' 'Methylotenera' 'Flavobacterium' '' 'Acidovorax']

,kingdom,phylum,class,order,family,genus,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,Low,1,4,0.228531
1056013,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,Low,1,4,0.220860
1056013,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,Low,1,4,0.054719
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,,Low,1,4,0.047956
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,,,,Low,1,4,0.040903

make sure "other" which is now called "" is there.

In [9]:
fba['genus'].unique()

array(['Methylobacter', 'Methylotenera', 'Flavobacterium', '',
       'Acidovorax', 'Dechloromonas', 'Methylomonas', 'Methylosarcina',
       'Methylomicrobium', 'Methylovulum', 'Methyloglobulus',
       'Pseudomonas', 'Sorangium', 'Burkholderia', 'Polaromonas',
       'Methylovorus', 'Streptomyces', 'Methylophilus', 'Curvibacter',
       'Comamonas', 'Mycobacterium', 'Desulfobacter', 'Rheinheimera',
       'Azospirillum', 'Hylemonella', 'Bdellovibrio', 'Delftia',
       'Lactobacillus', 'Flectobacillus', 'Bosea', 'Bacteriovorax'], dtype=object)

In [15]:
rd_genus = bacteriopop_utils.reduce_data(dataframe = loaded_data, 
                                   min_abundance = 0.05,
                                  phylo_column='genus')
rd_genus.head(15)

first (up to) 5 phylo columns to keep: ['Methylobacter' 'Methylotenera' 'Flavobacterium' '' 'Methylosarcina']

                                                                                                       abundance
oxygen replicate week kingdom  phylum         class          order            family            genus
High   1         4    Archaea                                                                           0.000028
                               Crenarchaeota  Thermoprotei                                              0.000026
                                                             Thermoproteales                            0.000005
                               Euryarchaeota                                                            0.000032
                                              Halobacteria                                              0.000029
                                                             Halobacteriales                            0.000031
                               Thaumarchaeota                                                           0.000004
                      Bacteria                                                                          0.020489
                               Acidobacteria                                                            0.000041
                                              Acidobacteriia Acidobacteriales Acidobacteriaceae         0.000211
                               Actinobacteria                                                           0.000009
                                              Actinobacteria                                            0.000062
                                                             Actinomycetales                            0.000378
                                                                              Actinomycetaceae          0.000005
                                                                              Cellulomonadaceae         0.000009

In [16]:
rd_genus.shape

(12005, 1)

In [17]:
loaded_data.shape

(64755, 10)

In [18]:
rd_family = bacteriopop_utils.reduce_data(dataframe = loaded_data, 
                                          min_abundance = 0.05,
                                          phylo_column='family')
print rd_family.shape
rd_family.head()

first (up to) 5 phylo columns to keep: ['Methylococcaceae' 'Methylophilaceae' 'Flavobacteriaceae' ''
 'Comamonadaceae']
(5564, 1)

                                                                                 abundance
oxygen replicate week kingdom phylum        class        order           family
High   1         4    Archaea                                                     0.000028
                              Crenarchaeota Thermoprotei                          0.000026
                                                         Thermoproteales          0.000005
                              Euryarchaeota                                       0.000032
                                            Halobacteria                          0.000029