In [1]:
import bacteriopop_utils
import feature_selection_utils
import load_data

In [2]:
loaded_data = data = load_data.load_data()

In [3]:
loaded_data.shape

(64755, 11)

In [4]:
loaded_data.head()

,kingdom,phylum,class,order,family,genus,length,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,,
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,9948861,Low,1,4,0.228531
1056013,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,5066955,Low,1,4,0.220860
1056013,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,4654774,Low,1,4,0.054719
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,other,3046340,Low,1,4,0.047956
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,NaN,NaN,other,5620690,Low,1,4,0.040903

Test filter and reduce functions using a high threshold, which selects for genus==Methylobacter

In [5]:
bacteriopop_utils.filter_by_abundance(dataframe=loaded_data, low= 0.6).head()

first (up to) 5 phylo columns to keep: ['Methylobacter']

,kingdom,phylum,class,order,family,genus,length,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,,
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,9948861,Low,1,4,0.228531
1056016,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,8256230,Low,2,4,0.183486
1056019,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,9550864,Low,3,4,0.207635
1056022,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,8211298,Low,4,4,0.200109
1056025,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,4802092,High,1,4,0.070167

In [6]:
bacteriopop_utils.reduce_data(dataframe=loaded_data, min_abundance= 0.6, 
                              phylo_column='genus', oxygen='high').head()

first (up to) 5 phylo columns to keep: ['Methylobacter']

,kingdom,phylum,class,order,family,genus,length,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,,
1056025,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,4802092,High,1,4,0.070167
1056028,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,3885957,High,2,4,0.084614
1056031,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,5692971,High,3,4,0.075084
1056034,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,4933896,High,4,4,0.103972
1056049,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,7618692,High,1,5,0.242867

# Demo of DMD data prep

In [7]:
raw_dmd_data = bacteriopop_utils.reduce_data(dataframe=loaded_data, min_abundance= 0.1, 
                              phylo_column='genus', oxygen='Low')

first (up to) 5 phylo columns to keep: ['Methylobacter' 'Methylotenera' 'Flavobacterium']

Errors are thrown by functions below if you drop min_abunance below.  I think it is hanging up on multiple "other" rows.

In [8]:
data_dict = bacteriopop_utils.break_apart_experiments(raw_dmd_data)

('Low', 1)
('Low', 2)
('Low', 3)
('Low', 4)
dictionary keys: [('Low', 1), ('Low', 4), ('Low', 2), ('Low', 3)]

In [9]:
data_dict.keys()

[('Low', 1), ('Low', 4), ('Low', 2), ('Low', 3)]

In [10]:
# Can't view generators very easily!!!
data_dict.itervalues()

In [11]:
# But we can make a list from them and grab the 0th item
first_df = list(data_dict.itervalues())[0]

In [12]:
first_df.head(3)

,kingdom,phylum,class,order,family,genus,length,oxygen,replicate,week,abundance
sampleID,,,,,,,,,,,
1056013,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,9948861,Low,1,4,0.228531
1056013,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,5066955,Low,1,4,0.220860
1056013,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,4654774,Low,1,4,0.054719

In [13]:
first_df.pivot(index='genus', columns='week', values='abundance')

week,4,5,6,7,8,9,10,11,12,13,14
genus,,,,,,,,,,,
Flavobacterium,0.054719,0.052710,0.009651,0.000718,0.003886,0.004191,0.003909,0.027589,0.009506,0.000864,0.003408
Methylobacter,0.228531,0.337567,0.602610,0.582960,0.577079,0.373659,0.576840,0.520927,0.496885,0.524244,0.443803
Methylotenera,0.220860,0.131572,0.064071,0.125043,0.170347,0.373464,0.150743,0.004887,0.079913,0.110765,0.195370

In [14]:
DMD_input_dict = bacteriopop_utils.prepare_DMD_matrices(raw_dmd_data, 
                                                        groupby_level = "Genus")

('Low', 1)
('Low', 2)
('Low', 3)
('Low', 4)
dictionary keys: [('Low', 1), ('Low', 4), ('Low', 2), ('Low', 3)]
week                  4         5         6         7         8         9   \
genus
Flavobacterium  0.054719  0.052710  0.009651  0.000718  0.003886  0.004191
Methylobacter   0.228531  0.337567  0.602610  0.582960  0.577079  0.373659

week                  10        11        12        13        14
genus
Flavobacterium  0.003909  0.027589  0.009506  0.000864  0.003408
Methylobacter   0.576840  0.520927  0.496885  0.524244  0.443803
week                  4         5         6         7         8         9   \
genus
Flavobacterium  0.108520  0.049753  0.009734  0.000271  0.001793  0.000671
Methylobacter   0.200109  0.277112  0.484794  0.668513  0.510509  0.467184

week                  10        11        12        13        14
genus
Flavobacterium  0.000602  0.010867  0.006316  0.004239  0.001783
Methylobacter   0.701577  0.521862  0.616827  0.593887  0.584158
week                  4         5         6         7         8         9   \
genus
Flavobacterium  0.105932  0.057338  0.002315  0.000752  0.000508  0.001986
Methylobacter   0.183486  0.284730  0.542438  0.558329  0.596317  0.356089

week                  10        11        12        13        14
genus
Flavobacterium  0.002535  0.024012  0.005938  0.001763  0.002797
Methylobacter   0.597375  0.538083  0.544018  0.587177  0.450268
week                  4         5         6         7         8         9   \
genus
Flavobacterium  0.071783  0.067557  0.008394  0.006802  0.004077  0.004601
Methylobacter   0.207635  0.289742  0.543662  0.675365  0.731635  0.776681

week                  10        11        12        13        14
genus
Flavobacterium  0.004465  0.000157  0.000874  0.001071  0.001146
Methylobacter   0.735229  0.710751  0.672948  0.701402  0.691672

In [15]:
type(DMD_input_dict)

dict

We can get each dataframe out like this:

In [16]:
DMD_input_dict[('Low', 1)]

week,4,5,6,7,8,9,10,11,12,13,14
genus,,,,,,,,,,,
Flavobacterium,0.054719,0.052710,0.009651,0.000718,0.003886,0.004191,0.003909,0.027589,0.009506,0.000864,0.003408
Methylobacter,0.228531,0.337567,0.602610,0.582960,0.577079,0.373659,0.576840,0.520927,0.496885,0.524244,0.443803
Methylotenera,0.220860,0.131572,0.064071,0.125043,0.170347,0.373464,0.150743,0.004887,0.079913,0.110765,0.195370

# DMD

TODO: test DMD on this abundance marix.

In [17]:
DMD_test_matrix = DMD_input_dict[('Low', 1)]

In [18]:
# Who is in there?

In [19]:
DMD_test_matrix.reset_index()['genus'].unique()

array(['Flavobacterium', 'Methylobacter', 'Methylotenera'], dtype=object)

I'm stuck at the installation of modred :(

In [20]:
# following example 1: https://pythonhosted.org/modred/tutorial_modaldecomp.html
import modred as MR

ImportError: No module named modred

In [ ]:

num_modes = 5
modes, eig_vals = MR.compute_POD_matrices_snaps_method(DMD_test_matrix, range(num_modes))

# Feature extraction and PCA

In [ ]:
extracted_features = bacteriopop_utils.extract_features(
    dataframe = loaded_data,
    column_list = ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'oxygen', 'abundance']
    # default list was: ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'length', 'abundance', 'project']
    )

In [ ]:
extracted_features.head()

In [ ]:
extracted_features.shape

Just do PCA on a tiny bit of the data as a demo

In [ ]:
pca_results = feature_selection_utils.pca_bacteria(
    data = extracted_features.head(100), n_components = 10)

In [ ]:
pca_results.components_

Do correlations for a tiny subset of the data.

In [ ]:
feature_selection_utils.calculate_features_target_correlation(
    data = extracted_features.head(100),
    features = extracted_features.columns.tolist(),
    target='abundance',
    method="Pearson")